#main_header {
    position: relative;
    z-index: 0;
    background-image: url('../images/bg-header.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;

    height: 100vh;
    min-height: 800px;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba( 0, 0, 0, 0.65 );
        z-index: -1;
    }


    .navbar {
        padding: 50px 0 0;

        .navbar-brand {
            color: $w;
            font-size: 24px;
            font-weight: 500;
        }

        .navbar-nav {

            li {
                display: inline-block;

                a {
                    display: block;
                    color: $w;
                    font-size: 16px;
                    font-weight: 500;
                    padding: 10px 25px;
                    opacity: 0.9;
                }

                .btn {
                    background-color: $primary;
                    font-size: 14px;
                    letter-spacing: 0.8px;
                    text-transform: uppercase;
                    margin-left: 15px;
                }
            }
        }

    }

    .hero_content {
        padding-top: 220px;
        max-width: 650px;

        p{
            font-size: 20px;
        }

        h1 {
            color: $w;
            font-size: 58px;
            font-weight: 700;
            margin-bottom: 50px;
        }

        .btn {
            display: inline-block;
            padding: 10px 30px;
            color: $w;
            border: 1px solid $w;

            &:hover, &:active, &:focus {
                background-color: $w;
                color: $c_b;
            }
        }
    }
}
