// Font
$font:     "Poppins", sans-serif;


// Color
$w:             #FFFFFF;

$primary:       #16c662;
$c_b:           #0d1325;
$c_content:     #b3b4b8;
$c_ef:          #efefef;

$c_ts:          #d5d5d7;
